<div>
    <button mat-flat-button color="primary" *ngIf="(auth.isAuthenticated$ | async) === false" (click)="login()">
        Sing up
    </button>

    <button mat-flat-button color="warn" *ngIf="auth.isAuthenticated$ | async" (click)="logout();">
        Logout
    </button>
</div>

<!-- <button (click)="login()">
    login
</button>

<button (click)="logout();">
    logout
</button> -->