
<div class="login-container">
    <mat-spinner *ngIf="auth.isLoading$ | async; else loaded"></mat-spinner>
    <ng-template #loaded>
        <mat-card>
            <span>
                Amazing Stream App 
            </span>
            <button mat-flat-button color="accent" *ngIf="auth.isAuthenticated$ | async" routerLink="home">
                Ir a la Home
            </button>
            <app-authentication-button></app-authentication-button>
        </mat-card>
    </ng-template>
</div>

