
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span, button {
            display: block;
            margin-bottom: 15px;
        }

        button {
            width: 115px;
        }
    }
}
