<mat-toolbar>
	<span>Stream APP</span>
	<button mat-flat-button color="warn" *ngIf="auth.isAuthenticated$ | async" (click)="logout();">
        Logout
    </button>
</mat-toolbar>

<router-outlet></router-outlet>