<div class="home-container">
    <div class="filters-title">
        Filtros
    </div>
    <div class="filters-container">
    
        <mat-form-field appearance="fill" class="filter-item">
            <mat-label>Serie o Pelicula</mat-label>
            <mat-select [(value)]="selectedCategory" (selectionChange)="filterByCategory($event)">
                <mat-option *ngFor="let item of selectOptions" [value]="item.value">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="buttons-filter-container">
            <button mat-flat-button color="primary" (click)="sort('title')" class="filter-item">
                Por nombre
            </button>
            <button mat-flat-button color="primary" (click)="sort('releaseYear')" class="filter-item">
                Por año
            </button>
        </div>
        <mat-form-field class="filter-item">
            <input matInput placeholder="Filtrar por año" #filterByReleaseYearInput>
        </mat-form-field>
    
    </div>
    
    <div class="series-container" (scrolled)="onScrollDown($event)" infinite-scroll >
        <mat-card *ngFor="let movie of movies$ | async" class="movie-item">
            <figure>
                <img [src]="movie.images['Poster Art'].url" alt="">
            </figure>
            <mat-card-content>
                {{movie.title}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="no-record-founds" *ngIf="(movies$ | async)?.length==0">No se encontraron resultados</div>
</div>