
@mixin tablet {
    @media only screen and (min-width: 767px) {
      @content;
    }
}
  
@mixin desktop {
    @media only screen and (min-width: 992px) {
      @content;
    }
}
  
@mixin large {
    @media only screen and (min-width: 1200px) {
      @content;
    }
}


.home-container {
    padding-top: 65px;
    .filters-title {
        margin: 10px 0 15px 30px;
    }
    .filters-container {
        
        display: block;
        padding: 0 15%;

        .filter-item {
            margin-bottom: 10px;
            width: 100%;
        
        }

        .buttons-filter-container {

            button { 
                width:115px;
            }

            display: flex;
            justify-content: space-between;

            @include desktop {
                order: 2;
            }
        }

        @include desktop {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            .filter-item{
                margin: 0 15px;
            }
        }
        

        
    }

    .series-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 15px;
        padding: 0 20px;

        @include tablet {
            grid-template-columns: repeat(3,1fr);
        }

        @include large {
            grid-template-columns: repeat(5,1fr);
        }

        .movie-item { 
            margin-bottom: 20px;
            figure {
                margin: 10px;
            }
            img { 
                width: 100%;
                height: auto;
            }

            mat-card-content {
                text-align: center;
            }

        }
        
    }

    .no-record-founds {
        text-align:center;
    }
}

